/* Define app theme here */
$title-font-stack: Neuton, sans-serif;
$body-font-stack: Poppins, sans-serif;
$body-accent-font-stack: 'Montserrat Alternates', sans-serif;

/* App color */
$main-bg-color: #FFF8EB;
$main-fg-color: #526C45;

$primary: #526C45;
$primary-variant: #87B171;
$secondary: #FFF8EB;

$onsurface-medium: rgba(0,0,0,.6);
$onsurface-low: rgba(0,0,0,.4);